*,
body {
  padding: 0;
  margin: 0;
}
.slider img {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.slider.fade img {
  opacity: 0;
}
.slider.fade img.active {
  opacity: 1;
}
.slider {
  width: 100vw;
  position: relative;
  overflow: hidden;
  height: 500px;
}
.slider img {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: contain;
}
